<div class="mat-elevation-z8">
    <div class="content">
        <mat-spinner diameter="40" *ngIf="loading"></mat-spinner>
        <h1>Add Article</h1>
        <form class="example-form" name="addForm" #addForm="ngForm" (ngSubmit)="addDoc(addForm.value)">
            <mat-form-field appearance="fill" class="form-field" id="formTitle">
                <mat-label>Select Category</mat-label>
                <!-- <mat-select disableRipple name="doc_category" ngDefaultControl *ngIf="categorySt==false" ngModel>
                    <mat-option *ngFor="let category of categorys" [value]="category" id="category">
                        {{category.category_name}}
                    </mat-option>
                </mat-select>  -->
                <mat-select disableRipple name="doc_category" ngDefaultControl [(ngModel)]="categorySelect">
                    <mat-option *ngFor="let category of categorys" [value]="category" id="category">
                        {{category.category_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <add-category-dialog></add-category-dialog>

            <mat-form-field appearance="fill" class="form-field" id="formType">
                <mat-label>Select Article Type</mat-label>
                <mat-select disableRipple name="doc_type_name" ngDefaultControl ngModel>
                    <mat-option *ngFor="let type of types" [value]="type.type_name" id="type">
                        {{type.type_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="form-field" id="formSubject">
                <mat-label>Subject</mat-label>
                <input matInput placeholder="Ex. 5 seconds rule" value="" name="doc_name" ngModel required>
            </mat-form-field>

            <ckeditor [editor]="Editor" (ready)="onReady($event)" name="doc_content" ngModel required></ckeditor>
            <!--data="<p>Hello, world!</p>"-->

            File: <input type="file" (change)="selectFile($event)" #fileInput multiple id="chooseFile">
            <input type="submit" value="Add" id="addDoc" name="file">

            <!-- Upload Files -->
            <div>
                <div *ngIf="currentFile" class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                        attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"
                        [ngStyle]="{ width: progress + '%' }">
                        {{ progress }}%
                    </div>
                </div> 

                <div class="alert alert-light" role="alert">{{ message }}</div>
  
                <div class="card"> 
                    <ul class="list-group list-group-flush" name="doc_file" [ngModel]="fileInfos | async" *ngFor="let file of fileInfos | async">
                        <li class="list-group-item" [ngClass]="hasClass(file.name)? 'hide_file':''">   
                            <a href="{{ file.url }}">{{ file.name }}</a>
                            <a href="javascript:" (click)="removeFile(file.name)"><img class="remove_file" title="remove" src="./assets/close.svg" alt="close.svg"></a>
                        </li>
                    </ul>
                </div>
            </div>

        </form>

    </div>
</div>