.content {
    min-height: 500px;
    padding: 25px;
}

mat-form-field {
    width: 40%;
    display: block;
}

#formTitle {
    display: inline-block !important;
}

#formSubject {
    margin-bottom: 20px;
}

#addTitle {
    margin-left: 40px;
}

#formFile{
    margin-top: 20px;
}

#chooseFile, #addDoc{
    border: 1px solid;
    background-color: white;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

#addDoc{
    width: 80px;
    float: right;
}

#addDoc:hover{
    background-color: #28a745!important;
    color: white;
    border: 1px solid black;
}

#chooseFile:hover{
    background-color: gray; 
    color: white;
    border: 1px solid black;
}

:host ::ng-deep .ck-editor__editable_inline {
    min-height: 300px !important;
    margin-bottom: 20px;
}

add-category-dialog{
    margin-left: 30px;
}

/* input#chooseFile.ng-untouched.ng-pristine.ng-valid{
    padding-left: 0px;
}

input#file-upload-button{
    border-left: 0px;
} */

mat-spinner{ 
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    z-index: 999;
}

.remove_file{
    width:25px; 
    float:right;
    cursor: pointer;
}

.hide_file{
    display: none!important;
}