<div class="container items">
  <mat-spinner diameter="40" *ngIf="loading"></mat-spinner>
  <h2><i class="fa fa-adn"></i> All Articles:</h2>
    <div *ngFor="let doc of documents" class="card mb-3 item_1">   
        <div class="row no-gutters atc_item" [routerLink]="['/atc-detail', doc.doc_id]">
          <div class="col-md-3"> 
            <img  src="{{doc.file}}" class="card-img" alt="{{doc.file}}">  
          </div>
          <div class="col-md-9">
            <div class="card-body"> 
              <h3 class="card-title">{{doc.doc_name}}</h3>
              <p class="card-text"><small class="text-muted">Type: {{doc.doc_type_name}}</small></p>
              <p class="card-text"><small class="text-muted">Created Date: {{doc.doc_created_date}}</small></p>
              <p class="card-text"><small class="text-muted">Author: {{doc.username}}</small></p>
            </div>
          </div>
        </div>
    </div> 

</div>