.item_1{
    border: 1px solid rgb(207, 206, 206);
    width: 100%;
    height: 150px;
}
.item_1:hover{
    border: 1px solid #6b6161;
    background-color: #f2f2f2;
    cursor: pointer;
}

.card-img{ 
    width: 190px; 
    height: 148px;
    margin-left: 10px;
    object-fit: contain
}

.items{
    margin-top: 35px;
}

.card-title{
    margin-bottom: 0px;
}

.card-text{
    margin-bottom: 3px;
}

.card-body{
    margin-top: 6px;
}

mat-spinner{ 
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    z-index: 999;
}