<form class="form-signin" #f="ngForm" (ngSubmit)="signIn(f.value)">
    <h2 class="form-signin-heading">Please sign in <p (click)="onNoClick()"
            style="float:right; color:black; cursor: pointer;"><i class="fa fa-times"></i></p>
    </h2>

    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" name="username" ngModel class="form-control" placeholder="Username" required
        autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" ngModel class="form-control" placeholder="Password"
        required>
    <button class="btn btn-lg btn-primary btn-block" type="submit"
        style="background: #383838!important; border: none;">Sign in</button>
    <p style="color: red; margin-top: 5px; margin-bottom: 0px;">{{login_msg}}</p>

    <div class="mt-4">
        <div class="d-flex justify-content-center links">
            Don't have an account? <a href="#" class="ml-2">Sign Up</a>
        </div>
        <div class="d-flex justify-content-center links">
            <a href="#">Forgot your password?</a>
        </div>
    </div>

</form>​