<div class="content">
    <mat-spinner diameter="40" *ngIf="loading"></mat-spinner>
    <h1>Update Article</h1>
    <form class="example-form" #f="ngForm" (ngSubmit)="updateDoc(f.value)" *ngIf="!!documents">
        <mat-form-field appearance="fill" class="form-field" id="formTitle">
            <mat-label>Select Category</mat-label> 
            <mat-select name="doc_category_id" ngDefaultControl [(ngModel)]="categorySelect.category_id">
                <mat-option *ngFor="let category of categorys" [value]="category.category_id">
                    {{category.category_name}}
                </mat-option>
            </mat-select>  
        </mat-form-field>
        <add-category-dialog></add-category-dialog>

        <mat-form-field appearance="fill" class="form-field" id="formType">
            <mat-label>Select Article Type</mat-label>
            <mat-select disableRipple name="doc_type_id" ngDefaultControl [(ngModel)]="documents.doc_type_id">
                <mat-option *ngFor="let type of types" [value]="type.type_id" id="type">
                    {{type.type_name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="form-field" id="formSubject">
            <mat-label>Subject</mat-label>
            <input matInput placeholder="Ex. 5 seconds rule" value="" name="doc_name" [(ngModel)]="documents.doc_name" required>
        </mat-form-field>

        <ckeditor [editor]="Editor" (ready)="onReady($event)" name="doc_content" [(ngModel)]="documents.doc_content" required></ckeditor>
        <!--data="<p>Hello, world!</p>"-->

        File: <input type="file" (change)="selectFile($event)" multiple id="chooseFile" name="doc_file">
        <input type="submit" value="Update" id="updateDoc" name="file"><br>
        
        <!-- <img *ngFor="let file of files" [alt]="file.doc_id" [title]="file.doc_file_name" [src]="file.doc_file_path" class="file_update">  -->
        <div class="card" *ngIf="files">
            <ul class="list-group list-group-flush" name="doc_file" [ngModel]="files_" *ngFor="let file of files_">
                <li class="list-group-item" [ngClass]="hasClass(file.doc_file_name)? 'hide_file':''">
                    <a href="{{ file.doc_file_path }}">{{ file.doc_file_name }}</a>
                    <a href="javascript:" (click)="removeFile(file.doc_file_name)"><img class="remove_file" title="remove" src="./assets/close.svg" alt="close.svg"></a>
                </li>
            </ul>
        </div>
    </form>

</div>