<h1 mat-dialog-title style="margin-bottom: 5px;">My List</h1>
<div mat-dialog-content> 
  <ul class="note-list" style="padding-left: 25px;">
    <li>
      <span *ngIf="data.animal === 'panda'">&#10003;</span> Panda <a href="javascript:" class="delete-note">X</a>
    </li>
    <li>
      <span *ngIf="data.animal === 'unicorn'">&#10003;</span> Unicorn <a href="javascript:" class="delete-note">X</a>
    </li>
    <li>
      <span *ngIf="data.animal === 'lion'">&#10003;</span> Lion <a href="javascript:" class="delete-note">X</a>
    </li>
  </ul>

  <textarea name="input-list" id="inputList" cols="30" rows="10"></textarea>
  
  <section style="margin-left:0px;"> 
    <div class="example-button-row"> 
      <button mat-raised-button color="accent" class="btn-add-note" (click)="onNoClick()">Cancel</button>  
      <button mat-raised-button color="primary" class="btn-cancel-note">Add</button> 
    </div>
  </section>

</div>