<!-- Sidebar -->
<mat-drawer-container class="side-container" autosize> 
  <mat-drawer #drawer class="side-sidenav" mode="side" opened="true" >
    <!-- <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button> -->
    <div class="profile_img center_">
      <img src="./assets/profile.png" alt="" style="max-width: 75%;">
      <h3 style="color: white; display:inline-block" *ngIf="username">{{username}} : </h3>
      <a (click)="signOutFun()" [routerLink]="'/'" style="display:inline;" title="Sign Out"><img style="width:25px; padding-left: 10px;" src="./assets/logout.svg" alt=""></a>  
    </div>
    <div class="example-button-row center_"> 
      <button mat-stroked-button style="color: white; border: 1px solid;" class="btn_edit_pro">Edit Profile</button>  
    </div> 
    <div class="center_">
      <button mat-flat-button id="dashboard" [ngClass]="dashboard == 1? 'sidebar_btn active-side-tab':'sidebar_btn'" (click)="sidebarTab(1)">Dashboard</button> 
      <button mat-flat-button id="addDocument" [ngClass]="dashboard == 2? 'sidebar_btn active-side-tab':'sidebar_btn'" (click)="sidebarTab(2)">Add Document</button>  
      <button mat-flat-button id="homepage" [ngClass]="dashboard == 3? 'sidebar_btn active-side-tab':'sidebar_btn'"  [routerLink]="'/'">Homepage</button>  
    </div>
  </mat-drawer>

  <div class="sidenav-content">
    <admin-dashboard [ngClass]="dashboard == 1? 'enabled_':'disabled_'"></admin-dashboard>
    <!-- <mat-spinner diameter="40"></mat-spinner> -->
    <document-add [ngClass]="dashboard == 2? 'enabled_':'disabled_'"></document-add>
  </div>

  <!-- sidebar button -->
  <div class="sidebar-btn-block" (click)="toggleSidebar(drawer)">
    <img src="./assets/back.svg" alt="" class="sidebar back" [hidden]="show == 1">
    <img src="./assets/next.svg" alt="" class="sidebar next" [hidden]="show == 0">
  </div>

</mat-drawer-container>
<!-- <img src="./assets/note2.svg" class="note" alt="Note" title="Note" (click)="openDialog()">  -->