.side-sidenav{
    width: 240px;
    background-color: #383838;
}

.sidebar {
    width: 20px;
    position: fixed;
    top: 50%
}

.sidebar-btn-block {
    /* height: 100%; */
    width: 20px;
}

.sidebar-btn-block:hover {
    transition: 1s;
    cursor: pointer;
    background-color: rgb(116, 116, 116);
}

.note {
    width: 30px;
    position: fixed;
    left: 98%;
    bottom: 15px;
}

.note:hover {
    background-color: rgb(236, 235, 235);
    cursor: pointer;
}

.sidebar:hover {
    color: black;
    cursor: pointer;
}

.side-container {
    width: 100%;
    height: 100%;
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
    position: fixed;
    top: 0;
    z-index: 0;
}

.side-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.side-sidenav {
    padding: 20px;
    /* padding-top: 85px; */
}

.delete-note {
    color: red;
}

/* Button CSS */
section {
    display: table;
    margin: 8px;
}

.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    width: 120px;
}

.example-button-row {
    display: table-cell;
}

.example-button-row button {
    display: table-cell;
    margin-right: 8px;
}

.example-flex-container {
    display: flex;
    justify-content: space-between;
    width: 480px;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}

/* Button CSS */


.sidenav-content {
    display: flex;
    /* height: 100%; */
    align-items: center;
    justify-content: center;
}

.center_{
    text-align: center;
    display: block;
}

.sidebar_btn{
    color: black; display: inline-block; margin-top: 50px; font-size: 20px; width: 165px; border: 1px solid black;
}

.sidebar_btn:hover{
    background-color: gray; 
    color: white;
    border: 1px solid white;
}

.btn_edit_pro:hover{
    background-color: gray; 
}

admin-dashboard, document-add{
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 500px;
} 

.active-side-tab{
    background-color: #151414;
    color: white;
    border: 1px white solid;
}

.disabled_{
    display: none;
}

.enabled_{
    display: block;
}

mat-spinner{
    position: fixed; z-index: 9999;
} 
/* 
:host ::ng-deep .mat-progress-spinner circle, .mat-spinner svg {   
    width: 45px!important; height: 45px!important;
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
    width: 45px!important; height: 45px!important;
} */