<naviation></naviation>
<mat-spinner diameter="40" *ngIf="loading"></mat-spinner>
<div class="container item_detail">
    <div *ngIf="documents">
        <div class="content">
            <h1 class="title">Title:</h1><h1 class="main_title"> {{documents.doc_name}}</h1>
            <div class="atc_container">
                <P class="atc_content" [innerHTML]="documents.doc_content"></P>  <!--{{documents.doc_content}}-->
                <b class="created_date">Last Updated:</b><P class="created_date">{{documents.doc_created_date}}</P>
                <b class="created_date">Author:</b><P class="created_date">{{documents.username}}</P>
            </div>
        </div> 
        <div class="file-content">
            <div *ngFor="let docFile of files" style="width: 300px; display: inline-block;">
                <img src="{{docFile.doc_file_path}}" alt="{{docFile.doc_file_name}}" style="max-width: 100%; display: inline-block; padding-right: 20px;">  
            </div>
        </div>
    </div>
</div>
