.title{
    text-decoration: underline;
    display: inline-block;
    font-weight: bold;
}
.main_title{
    display: inline-block;
    margin-left: 10px;
    /* font-weight: bold; */
}

.item_detail{
    margin-top: 30px;
}

.created_date{
    display: inline-block;
    margin-bottom: 0px;
}

.atc_container{
    padding: 20px;
    border: 1px solid rgb(162, 160, 160);
    margin-bottom: 20px;
}

.atc_content{
    font-size: large;
}

p.created_date{
    margin-left: 5px;
    margin-right: 5px;
}

img:hover{
    cursor: pointer;
    transition: 1s;
    filter: brightness(0.5);
}

mat-spinner{ 
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    z-index: 999;
}