<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1> -->
<div mat-dialog-content> 
    <form action="" #f="ngForm" (ngSubmit)="getCategory(f.value)">  
        <mat-form-field>
            <mat-label>Category Name</mat-label>
            <input matInput cdkFocusInitial name="category_name" ngModel>
        </mat-form-field>  
        <button mat-button [mat-dialog-close] type="button">Cancel</button> 
        <button mat-button [mat-dialog-close] type="submit">Add</button> 
    </form> 
</div> 
