<div class="mat-elevation-z8">
    <div class="content">
    <mat-spinner diameter="40" *ngIf="loading"></mat-spinner>
    <table mat-table [dataSource]="dataSource">

        <!-- id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.doc_id}} </td>
        </ng-container>

        <!-- name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.doc_name}} </td>
        </ng-container>

        <!-- date Column -->
        <ng-container matColumnDef="date">
            <th class="center_" mat-header-cell *matHeaderCellDef> Created Date </th>
            <td class="center_" mat-cell *matCellDef="let element"> {{element.doc_created_date}} </td>
        </ng-container>

        <!-- view Column -->
        <ng-container matColumnDef="view">
            <th class="center_" mat-header-cell *matHeaderCellDef> View </th>
            <td class="center_" mat-cell *matCellDef="let element"> {{element.doc_view_amount}} </td>
        </ng-container> 

        <!-- action Column -->
        <ng-container matColumnDef="action">
            <th class="center_" mat-header-cell *matHeaderCellDef>Action </th>
            <td class="center_" mat-cell *matCellDef="let element">  <!--[hidden]="show" -->
                <a href="javascript:" class="delete_doc _{{element.doc_id}}" (click)="deleteDoc(element.doc_id)"><img src="./assets/trash.svg" alt="Delete" title="Delete" style="width:29px"> </a> 
                <update-doc-dialog [docId]="element.doc_id"></update-doc-dialog> <!--Send docId to update-doc-dialog component-->
            </td>
        </ng-container> 
       
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> 
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="hasClass(row.doc_id)? 'delete_doc doc_hide':'delete_doc'"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[20, 40, 60]" showFirstLastButtons></mat-paginator>
    </div>
</div>
