table {
    width: 100%;
} 

.content{
    min-height: 500px;
} 

.center_{
    text-align: center;
}

.doc_hide{
    display: none;
}

mat-spinner{ 
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    z-index: 999;
}