.nav-menu{
    background-color: #ffffff;
    border-bottom: 1px rgb(162, 160, 160) solid;
    display: flex;
    position: relative;
    z-index: 111;
}

.menu{
    margin-left: auto;
}

.menu-title>a{
    color: black;
}

.menu-title>a:hover{
    color: rgb(116, 116, 116);
}