<!-- Navbar menu -->
<mat-toolbar class="nav-menu">
  <div class="menu-title"> 
    <a [routerLink]="['/']">MyDoc</a>
  </div>
  <div class="menu">
    <!-- <button mat-button [routerLink]="['/']">Home</button>  
    <button mat-button [matMenuTriggerFor]="menu">Category</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu> -->

    <button mat-button >About</button>

    <button mat-button [matMenuTriggerFor]="sign"><i class="fa fa-bars"></i></button>
    <mat-menu #sign="matMenu">
      <button mat-menu-item (click)="signInFun()" *ngIf="signInStatus == false">Sign In</button>  <!--[routerLink]="['/login']"-->
      <button mat-menu-item (click)="signInFun()" *ngIf="signInStatus == true && user" [queryParams]="{tab:'1'}" [routerLink]="['/profile', user.id,user.username]">Profile: {{user.username | uppercase}}</button>
      <button mat-menu-item (click)="signOutFun()" *ngIf="signInStatus == true">Sign out</button> 
    </mat-menu>
    
  </div>
</mat-toolbar> 
 