/* You can add global styles to this file, and also import other style files */
@import "~bootstrap\dist\css\bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
html, body { height: 100%; }
body { margin: 0; padding: 0%; font-family: Roboto, "Helvetica Neue", sans-serif; }
