.container.items{
    position: sticky;
    /* margin-top: 17px; */
    top:0px;
    z-index: 99;   
}

.card{
    border-radius: 0px;
}

.btn_filter, .btn-search{
    background: #383838!important;
    color: white;
    border: none; 
}

.inline-items{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.card-body.inline-items{
    height: 77px;
    width: 100%;
}

.btn{
    /* height: 51.31px; */
    width: 120px;
}

.txt-search{
    height: 37px;
    width: 209px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.col-md-12{
    left: 47%;
}

.card.mb-3.item_1{
    border: 0px;
    margin: 0px!important;
    /* border-left: 0px;
    border-right: 0px; */
}