<div class="container items">
    <div class="card mb-3 item_1">
        <div class="row no-gutters">
            <div class="col-md-12">
                <div class="card-body inline-items"> 
                    <!-- <button class="btn btn_filter inline-items" mat-button [matMenuTriggerFor]="menu">Filter <i class="fa fa-sort" style="margin-left: 50px;"></i></button>
                    <mat-menu #menu="matMenu" (click)="filter(menu)"> 
                        <button mat-menu-item value="popular">Popular</button>
                        <button mat-menu-item value="new">New</button> 
                    </mat-menu> -->

                    <mat-form-field appearance="fill" class="form-field" id="formType">
                        <mat-label>Filter</mat-label>
                        <mat-select #filterVal (selectionChange)="filter($event.value)">
                            <mat-option value="popular">Popular</mat-option>
                            <mat-option value="new">New</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <form action="" #f="ngForm" (submit)="search(f.value)" style="display: inline;">
                        <input type="text" placeholder="Search" class="txt-search" name="search" ngModel>
                        <button type="submit" class="btn btn-primary btn-search inline-items">Search</button> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>